.Feed{
    width: 80%;
    padding-left: 20px;
    padding-top: 20px;
    overflow: scroll;
    overflow-x: hidden;
    @media (max-width: 992px) {
        width: 90%;
    }
    @media (max-width: 600px) {
        width: 100%;
    }
}

.FeedPost{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 20px;
    @media (max-width: 600px) {
        margin-right:0;
        height: 100px;
    }
}

.FeedPost:hover {
    background-color: var(--hover-gray);
}

.FeedThumbnail {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    background-color: var(--lighter-gray);
    @media (max-width: 600px) {
        width: 75px;
        height: 75px
    }
}

.FeedThumbnail i {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 150px;
    height: 150px;
    @media (max-width: 600px) {
        width: 75px;
        height: 75px
    }
}

.FeedThumbnail.nsfw {
    background-color: var(--lighter-gray);
    font-size: 1.4rem;
    font-weight: 700;
}

.FeedDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    flex-grow: 1;
    padding-right: 20px;
}

.FeedDetails > div {
    @media (max-width: 992px) {
        font-size: 0.7rem;
    }
}

.FeedTitle {
    font-size: 1.2rem;
    @media (max-width: 992px) {
        font-weight: 600;
        font-size: 1rem;
    }
    @media (max-width: 600px) {
        font-weight: 600;
        font-size: 0.8rem;
    }
}

.FeedActions {
    margin-left:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100% - 20px);
    margin-right: 20px;
    /* margin-block: 10px; */
    border-radius: 10px;
    padding-inline: 10px;
    background-color: var(--lighter-gray);
    min-width: 50px;
    @media (max-width: 600px) {
        flex-direction: row;
        justify-content: space-evenly;
        height: min-content;
        align-self: center;
        min-height: 35px;
        width: 90px;
        gap: 5px;
        margin-right: 0;
        padding-inline: 5px;
    }
}

.FeedKarma {
    @media (max-width: 600px) {
        font-size: 0.8rem;
    }
}

.FeedActions button {
    color: white;
    /* background-color: var(--reddit-orange); */
    background: none;
    border:none;
    outline:none;
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
    @media (max-width: 600px) {
        scale: 0.8;
    }
}

.FeedKarma {
    font-weight: 600;
}

.FeedActions .Upvote:hover  > i{
    color: var(--reddit-orange);
}

.FeedActions .Upvote .upvoted {
    color: var(--reddit-orange);
}

.FeedActions .Downvote:hover  > i{
    color: var(--downvote-blue);
}

.FeedActions .Downvote .downvoted {
    color: var(--downvote-blue);
}

.FeedLoading {
    text-align: center;
    margin-bottom: 30px;
}