.Comment {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 20px;
    overflow-y: auto;
}

.CommentMain {
    width: 70%;
}

.CommentMainDetails {
    width: 100%;
}

.UserDetails {
    display: flex;
    flex-direction: row;
}

.CommentCommunityIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.CommentCommunityName {
    font-size: 16px;
    font-weight: 700;
}

.UserDetailsHelper {
    margin-left: 10px;
}

.CommentAuthor {
    display: flex;
    flex: row;
    margin-top: 3px;
}

.CommentAuthor div:not(.CommentAuthorFlair) {
    font-size: 14px;
}

.CommentAuthorFlair {
    margin-left: 10px;
    font-size: 12px;
    border-radius: 10px;
    width: max-content;
    padding-inline: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CommentTitle {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600;
}

.CommentDesc {
    text-align: distribute;
    margin-right: 40px;
    list-style-position: inside;
    margin-top: 10px;
}

.CommentDesc p,ul {
    margin-bottom: 20px;
}

.CommentDesc * {
    font-size: 16px;
}

.CommentDesc a{
    color: var(--downvote-blue);
}

.CommentDesc a:hover {
    color: white;
}

.CommentMedia {
    width: calc(100% - 20px);
    height: 400px;
    /* background-color: var(--hover-gray); */
    outline: solid 1px var(--hover-gray);
    border-radius: 20px;
    margin-top: 10px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.CommentMedia::before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    filter: blur(15px);
    background: var(--image-url) center center / cover no-repeat;
    opacity: 0.3;
    z-index: -1;
}

.CommentFlair {
    width: max-content;
    font-size: 14px;
    border-radius: 10px;
    padding-inline: 10px;
    margin-block: 10px;
    font-weight: 500;
}

.CommentGallery {
    height: max-content;
}

.CommentMediaInside {
    max-width: 100% !important;
    max-height: 100% !important;
    object-fit: contain !important;
    box-shadow: 5px 0px 30px 2px rgba(151, 151, 151, 0.13) ;
}


.CommentVideo {
    width: 100%;
    height: 100%;
    box-shadow: none;
}



.CommentMedia:has(.CommentVideo){
    border-radius: 0;
}

.MediaModal {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    justify-content: center;
    align-items: center;
    background-color: var(--hover-gray);
    z-index: 3;
}

.MediaModal::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left:0;
    background: var(--image-url) center center / cover no-repeat;
    filter: blur(15px);
    opacity: 0.3;
}

.MediaModalInside {
    z-index: 4;
    height: 100%;
}

.CloseMediaModalButton {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: var(--hover-gray);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:none;
    outline:none;
    cursor: pointer;
}

.CloseMediaModalButton:hover {
    background-color: black;
}

.CommentOriLink {
    font-size: 14px;
    color: var(--downvote-blue);
}

.CommentActions {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.CommentActions div {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--hover-gray);
    border-radius: 10px;
    padding-inline: 10px;
    padding-block: 5px;
    font-weight: 700;
}

.CommentVote button {
    border: none;
    outline: none;
    background: none;
}

.CommentComment i, .CommentShare i{
    margin-left: 10px;
}
.CommentVote button .fa-arrow-up {
    margin-left: 5px;
}

.CommentVote button .upvoted {
    color: var(--reddit-orange);
}

.CommentVote button .downvoted {
    color: var(--downvote-blue);
}

.CommentAdd {
    border: var(--subtle-line);
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--hover-gray);
    padding-block: 12px;
    padding-inline: 24px;
    border-radius: 10px;
    width: calc(100% - 68px);
    height:20px;
    font-size: 16px;
    color: white;
    overflow-x: auto;
    margin-top: 10px;
}

.CommentMainTree {
    margin-top: 20px;
    margin-bottom:100px;
}

.Reply {
    height: auto;
}

.ReplyTop {
    display: flex;
    flex-direction: row;
    position: relative;
}

.ReplyMeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

.ReplyAuthorFlair {
    margin-left:0 !important;
}

.ReplyAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ReplyBottom {
    display: flex;
    flex-direction: row;
}

.ReplyLeft {
    width: 50px !important;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.ReplyLine {
    width: 2px;
    margin-inline: 24px;
    background-color: var(--hover-gray);
    
}

/* .ReplyLeft:hover .ReplyLine {
    background-color:white;
    
} */

.ReplyLineHori {
    position: absolute;
    left:-25px;
    top: 25px;
    height: 2px;
    width: 25px;
    background-color: var(--hover-gray);
    
}

.ReplyContent {
    margin-bottom: 20px;
}

.ReplyBottom .Reply{
    width: 100%;
    margin-top: 20px;
    /* margin-left: 50px;   */
}

.ReplyContent p{
    font-size: 16px;
    margin-block: 10px;
    flex-grow: 1;
    text-align: distribute;
    padding-right: 20px;
}

.ReplyContent * img {
    max-height: 150px;
}

.ReplyActions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: var(--hover-gray);
    width: min-content;
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 10px;
}

.ReplyActions button {
    background:none;
    outline:none;
    border: none;
    cursor: pointer;
}

.ReplyScore {
    font-size: 16px;
}

.ReplyBottomMeta {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ReplyShare {
    background-color: var(--hover-gray);
    width: min-content;
    padding-inline: 10px;
    padding-block: 5px;
    border-radius: 10px;
    cursor: pointer;
}

