:root {
    --plain-black: #0e1113;
    --subtle-line: solid 1px rgb(48, 48, 48);
    --reddit-orange: #ff4500;
    --hover-gray: #24292c;
    --lighter-gray: #3e4447;
  }
  
  * {
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    user-select: none;
    font-size: 18px;
    @media (max-width: 600px) {
      font-size: 12px;
    }
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    background-color: var(--plain-black);
    color: white;
    height: 100vh;
    overflow-y: hidden;
  }

  .BottomContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90vh;
  }


  ::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background-color: var(--plain-black);
    border-radius: 100px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: var(--hover-gray);
    border-radius: 100px;
  }
