.Sidebar {
    width:18%;
    min-height: calc(100vh - 80px);
    border-right:var(--subtle-line);
    padding-left: 20px;
}

.SidebarTop {
    padding-top: 20px;
}

.SidebarTopItem:not(:first-child) {
    margin-top: 20px;
}

.SidebarTopItem i {
    width:40px;
}

.SidebarCommunities {
    margin-top: 30px;
}

.SidebarCommunities h2 {
    margin-bottom: 10px;
}

.SidebarCommunitiesItem {
    width:100%;
    height:60px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap:10px;
}

.SidebarCommunitiesItem img{
    width:40px;
    border-radius: 20px;
}

.SidebarCommunitiesItem div{
    margin-left: 5px;
}